.idea
.vscode
.ycm_extra_conf.py
.project
.pydevproject
*.swp
venv

__pycache__
*.egg
*.egg-info
.ipynb_checkpoints
*.data

experiments/.ipynb_checkpoints/

*.aux
*.log
*.pdf
*.bbl
*.blg
*.gz
experiments/*.md

#runs
data
imagination_results
human_results
test_results
wandb 
results
exps_outputs
refactor_exps_outputs
img_tsne
maps
deply_multi.sh
gpulab-config.json
*.csv
*.png
*.gif
*.mp4
